body {
  font-family: "Helvetica", Sans-Serif;
  color: white;
  background-color: #202020;
  text-align: center;
  padding: 0px;
}

.circle {
  border-radius: 50%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  text-align: center;
  padding: 0px;
  font-size: 30pt;
}

.topnav {
  overflow: hidden;
  background-color: #303030;
  font-size: auto;
}

.topnav a:hover {
  background-color: #505050;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.footer {
  text-align: center;
  background-color: #303030;
  padding-top: 1px;
  padding-bottom: 1px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
}
